
@media (min-width: 992px) {
.completeassessmentprogram{
    display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px; /* Adjust as needed */
          margin-top: 8%;
  }
  .completeassessmentprogramcolumn{
    padding: 10px;
    width: 80%;
  }
  .completeassessmentprogram .title{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 7%;
    font-family: 'Pathway Extreme';
    color: #12697D;
    font-weight: 500;
  }

  .completeassessmentprogram-mobile{
    display:none;
  }
}
  @media (max-width: 767.98px) { 
    .completeassessmentprogram{
display:none;
    }
    .completeassessmentprogram-mobile{
      display:flex;
      flex-direction: column;
      margin-top: 15%;
    }
    .completeassessmentprogram-mobile img{
      width:100%;
      height:30%;
    }
    .completeassessmentprogram-mobile p{
      font-family: inter;
    padding: 0 4%;
    }

  }