@import url('https://fonts.googleapis.com/css?family=Pathway+Extreme');
@media (min-width: 992px) {
.dentcure{
    display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px; 
          margin-top:5%;
  }
  .dentcurecontent{
    padding: 10px;
    
  }
  .appointmentbutton{
    background-color: #1AA8CC;
padding: 13px 20px;
border-radius: 20px;
font-family: 'Pathway Extreme';
font-size: 22px;
}


.dentcureimage{
    width: 100%;
}

.dentcurecolumn .first{
    margin-left: 20%;
}

.dentcurecolumn img{
    width:100%;
}

.dentcurecolumn .column{
    display: flex;
  flex-direction: column;
}

.appointmentthird{
  display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Adjust as needed */
}
.appointmentthirdcontent{
  padding: 10px;
 
}
.appointmentthirdcolumn{
  display: flex;
  flex-direction: column;
}
.dentcure-mobile{
display:none;
}
}
@media (max-width: 767.98px) { 
 .dentcure{
  display: none;
 }

        .dentcure-mobile{
          display:flex;
          flex-direction: column;
          margin-top: 5%;
        }
        .dentcure-logo{
          width: 67%;
    
    margin: 4% auto;
        }
        .dentcure-mobile h3{
          font-weight: bold;
        }
        
        .dentcure-mobile-images {
          position: relative;
          width: 100%; /* Ensure the container width is as per the content */
          max-width: 500px; /* Optional: Set a maximum width for better control */
      }
      
      .image-container {
          position: relative;
      }
      
      .image-1 {
          display: block;
          width: 100%; /* Make the first image responsive */
      }
      
      .dentcure-mobile-title{
        margin-top:5%;
      }
      .transformingsmiles{
        text-align: center;
        font-family: 'Pathway Extreme';
      }
}