@media (min-width: 992px) {
.faqsection{
    margin: 70px 10%;
}

.faq{
    width: 50%;
    margin-bottom: 3%;
}
.faqcontainer {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top:3%;
  }
  
  .faqrow {
    display: flex;
    align-items: center;
  }
  
  .faqcolumn {
    flex: 1;
    text-align: center;
  }
  
  .faqmiddle {
    flex: 8;
    padding: 0 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .faqmiddletext {
    font-size: 1.2em;
    margin: 0;
  }
  .faqsection-mobile{
display:none;
  }
  .frequentlyasked-title-desktop{
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 3%;
    font-family: 'Pathway Extreme';
    color: #12697D;
    font-weight: 500;
  }
}
  @media (max-width: 767.98px) { 
    .faqsection{
      display:none;
    } 
    
    .faqsection-mobile{
display:flex;
flex-direction: column;
    }
   

   .faqmiddletext-mobile{
     font-size: 1rem;
          }

          .faqsection-mobile{
            margin: 70px 10%;
        }

        .faq-mobile{
          width: 100%;
    margin-bottom: 3%;
    font-size: 2rem;
    line-height: 1;
    color:#146172;
      }
      .faqcontainer-mobile {
          background-color: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          padding: 20px;
          margin-top:3%;
        }

        .faqrow-mobile {
          display: flex;
          align-items: center;
        }
        
        .faqcolumn-mobile {
          flex: 1;
          text-align: center;
        }
        
        .faqmiddle-mobile {
          flex: 8;
          padding: 0 10px;
        }
        
        .image-mobile-1 {
          width: 100%;
         
        }
        .image-mobile-2 {
          width: 70%;
         
        }
        
        .faqmiddletext-mobile {
          font-size: 0.7em;
          margin: 0;
          font-family: Inter;
  
        }

  }