
    
    
    .appointmentbutton{
      background-color: #1AA8CC;
  padding: 13px 20px;
  border-radius: 20px;
  font-family: 'Pathway Extreme';
  font-size: 22px;
  }
    
  

.simplemargin{
  padding: 0 3%;
}

.embracearesilientfuturerowimagessection{
  margin-top: 5%;
}