
.navbar-nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-link {
    padding-right: 1.25rem; /* 20px */
    padding-left: 1.25rem; /* 20px */
    font-size: 1.25rem; /* x-large */
}







.brand-logo {
    width: 8.5em;
    height: 1.5em;
}

/* Responsive Adjustments */
@media (max-width: 767.98px) { /* Mobile */
    .customnavbutton-desktop{
        display:none;
    }
    .navbar-toggler {
        order: 1;
    }

    .navbar-brand {
        order: 2;
        margin-left: 0;
        margin-right: 0;
    }

    .customnavbutton-mobile {
        background-color: #1AA8CC;
        border-radius: 1.25rem; /* 20px */
        font-family: 'Pathway Extreme';
        order: 3;
        font-size: 1.125rem; /* 18px */
        padding: 0.625rem 0.9375rem; /* 10px 15px */
    }

}

@media (min-width: 768px) and (max-width: 991.98px) { /* Tablet */
    .navbar-toggler {
        order: 0;
    }

    .navbar-brand {
        order: 1;
    }

    .customnavbutton-mobile {
        order: 2;
    }
    .customnavbutton-mobile {
        background-color: #1AA8CC;
        padding: 0.8125rem 1.25rem; /* 13px 20px */
        border-radius: 1.25rem; /* 20px */
        font-family: 'Pathway Extreme';
        font-size: 1.375rem; /* 22px */
    }
}

@media (min-width: 992px) { /* Desktop */
    .customnavbutton-mobile{
        display:none;
    }
    .navbar-toggler {
        order: 1;
    }

    .navbar-brand {
        order: 0;
    }

    .customnavbutton-desktop {
        order: 2;
    }
    .navbar {
    padding: 1.25rem; /* 20px */
} 
.customnavbutton-desktop {
    background-color: #1AA8CC;
    padding: 0.8125rem 1.25rem; /* 13px 20px */
    border-radius: 1.25rem; /* 20px */
    font-family: 'Pathway Extreme';
    font-size: 1.375rem; /* 22px */
}
}
