@media (min-width: 992px) {
.smilecorrection{
    display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px; /* Adjust as needed */
          margin-top: 8%;
  }
  .smilecorrectioncolumn{
    padding: 10px;
    
  }
  .smilecorrection img{
                            width: 100%;
  }

  .smilecorrection h5{
    margin-top:5%;
}
.smilecorrection-desktop-title{
  font-size: 3rem;
    line-height: 1;
    margin-bottom: 7%;
    font-family: 'Pathway Extreme';
    color: #12697D;
    font-weight: 500;
}
}

@media (max-width: 767.98px) { 
.smilecorrection{
  display:none;
}
}